.EventItem {
    perspective: 1000px;
    height: 300px;
    width: 200px;
    margin: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flipped .card {
    transform: rotateY(180deg);
  }
  
  .card-face {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-front {
    background-color: #ffffff;
  }
  
  .card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
  }
  
  .bgImage {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }
  
  .eventTitle {
    margin-top: 10px;
  }
  
  .events {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .eventList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .EventItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .EventItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .EventItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 80%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .EventItem h1 {
    font-size: 25px;
  }
  
  @media only screen and (max-width: 1300px) {
    .eventList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .eventList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .eventList {
      width: 100%;
    }
    .EventItem {
      width: 300px;
      height: 300px;
    }
  }


  