/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;

	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
    background-color: #f0f0f0;
    padding: 70px 0;
}

.footer-col{
    width: 33%;
    padding: 0 60px;
 }
 

 .footer-col h4{
	font-size: 18px;
	color: #333;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col h3{

	color: #333;
	text-transform: capitalize;
	margin-bottom: 35px;
	position: relative;
}

.footer-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 5px;
	box-sizing: border-box;
	width: 50px;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #333;
	text-decoration: none;
	font-weight: 300;
	color: #333;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #bbbbbb;
	padding-left: 8px;
}

.footer-col .social .icon{
	display: inline-block;
	height: 40px;
	width: 40px;
	/* background-color: #333; */

	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}


.footer-col .social .icon a:hover{
	color: #24262b;
	background-color: #ffffff;
  
}



/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }