.navbar {
  
  display: flex;
  align-items: flex-end;
  position: sticky;
  justify-content: space-between;
  background-color:#666666;
  font-family: Arial, sans-serif;
  padding: 10px;
  height: 70px; /* Set the desired height for the navbar */
  top: 0;
  z-index: 100;
  
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.links a {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.icon {
  font-size: 24px;
  margin: 0 15px;
  color: #3f51b5;
}

.logo img {
  margin-left: 10px;
  width: 75px;
  height: auto;
}

.navbar {
  width: 100%;
  height: 100px;
  
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: sticky;
  
}

.navbar a {
  color: rgb(23, 22, 22);
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  &:hover{
    color: aliceblue;
  }
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
text-align: right;
 justify-content: flex-end;


}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {

    background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-align: right;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
    align-items: right;
    text-align: right;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}