.Sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg);
    /* background-image: url(https://images.unsplash.com/photo-1513728731559-6bf2c0c931f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGNsb3VkfGVufDB8fDB8fHww&w=1000&q=80); */
  }
  h1{
    margin: 2rem;
    color:aquamarine;
    &:hover{
      color: aliceblue;
      
    }
  }
  .sponsorList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 50px; /* Adjust the gap between images as needed */
  }
  
  .sponsor-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .sponsor-Image {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #000000; /* Adjust the color and size of the border as needed */
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 22px;
    margin: 0;
    color:chocolate;
    font-family: 'Courier New', Courier, monospace;
    &:hover{
      color: aliceblue;
    }
  }
  /* Responsive Styles */
@media screen and (max-width: 768px) {
  .sponsorList {
    grid-template-columns: repeat(2, 1fr); /* Show 2 columns on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .sponsorList {
    grid-template-columns: repeat(1, 1fr); /* Show 1 column on even smaller screens */
  }
}