.Sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .sponsorList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 50px; /* Adjust the gap between images as needed */
  }
  
  .sponsor-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .sponsor-Image {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #000000; /* Adjust the color and size of the border as needed */
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 16px;
    margin: 0;
  }
  /* Responsive Styles */
@media screen and (max-width: 768px) {
  .sponsorList {
    grid-template-columns: repeat(2, 1fr); /* Show 2 columns on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .sponsorList {
    grid-template-columns: repeat(1, 1fr); /* Show 1 column on even smaller screens */
  }
}